<div class="album-list">
    {{#each}}
        <div class="album">
            <a class="ember-view" href="">
                <img src="{{artwork}}"/>
            </a>
            <p class="album-name">{{name}}</p>
            <p class="album-artist">{{artist}}</p>
            <p class="song-count">8 songs</p>
            {{#if isExplicit}}
                <span class="explicit">EXPLICIT</span>
            {{/if}}
        </div>
    {{/each}}
</div>