<div class="album-list">
    {{#each album in model}}
        <div class="album">
            {{#link-to 'album' album}}
                <img src="{{album.artwork}}"/>
            {{/link-to}}
            <p class="album-name">{{album.name}}</p>
            <p class="album-artist">{{album.artist}}</p>
            <p class="song-count">8 songs</p>
            {{#if album.isExplicit}}
                <span class="explicit">EXPLICIT</span>
            {{/if}}
        </div>
    {{/each}}
</div>